<?php
$env = parse_ini_file('./.env');

if ($env === false) {
    
    die("No se puede cargar el archivo .env");
}

define('URL', $env['URL']);
define('HOST', $env['HOST']);
define('DB', $env['DB']);
define('USER', $env['USER']);
define('PASSWORD', $env['PASSWORD']);
define('CHARSET', $env['CHARSET']);
?>
